# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/
# pytest cache files


# Docker
.dockerignore
docker-compose.override.yml

# Virtual environment
venv/
env/
.venv/

# IDE files
.idea/
.vscode/